.c {
  max-width: 500px;
  margin: 20px auto;

  mat-card {
    margin-bottom: 20px;
  }

  .c-header {
    margin-bottom: 20px;

    h1 {
      font-size: 20px;
    }
  }

  .c-fields {
    .field {
      margin-bottom: 20px;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
