.c
  mat-card
    form([formGroup]="state.form", novalidate, (ngSubmit)="updateCredentials()")
      .c-header
        h1 Credentials
      .c-fields
        .field
          mat-form-field
            input(formControlName="username", matInput, type="text", placeholder="Username", #username)
            mat-error(*ngIf="state.form.get('username').hasError('required')") Username is required
            mat-error(*ngIf="state.form.get('username').hasError('minlength')") Username should contains at least {{ state.accountMinUsernameLength }} symbols
            mat-error(*ngIf="state.form.get('username').hasError('maxlength')") Username should contains less than {{ state.accountMaxUsernameLength }} symbols
        .field
          mat-form-field
            input(formControlName="password", matInput, type="password", placeholder="Password")
            mat-error(*ngIf="state.form.get('password').hasError('required')") Password is required
            mat-error(*ngIf="state.form.get('password').hasError('minlength')") Password should contains at least {{ state.accountMinPasswordLength }} symbols
            mat-error(*ngIf="state.form.get('password').hasError('maxlength')") Password should contains less than {{ state.accountMaxPasswordLength }} symbols
        .actions
          button(mat-raised-button, color="primary", type="submit")
            span Update credentials
  mat-card
    mat-list
      mat-list-item Use "foo" as username and "123456" password to test this solution
      mat-list-item You also can use "bar" as username and "654321" password to test this solution

