.c
  .c-toolbar
    mat-toolbar
      mat-toolbar-row
        span Test Assigment
      mat-toolbar-row
        a(mat-button, [routerLink]="['/']")
          span Home
        a(mat-button, [routerLink]="['/foo']")
          span Foo
        a(mat-button, [routerLink]="['/bar']")
          span Bar
  .c-contents
    router-outlet
